* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Da Mary-loga */

.headerName {
	position: fixed;
	left: 5%;
	top: 20px;
	padding: 0px;
	background-color: none;
	color: #FF827C;
	font-size: 37px;
	font-family: 'Aguafina Script';
	text-shadow: 3px 4px black;
}
/* Menyrad generell */

.navMeny {
	position: fixed;
	width: 100%;
	left: 38%;
	top: 30px;
	background-color: none;
	text-align: center;
	display: flex;
	justify-content: left;
}
/* Menyrad style */

nav ul {
	list-style-type: none;
	overflow: hidden;
}
/* Menyrad float=riktning */

nav li {
	float: left;
}
/* Menyrad specific */

nav li a {
	text-decoration: none;
	padding: 20px;
	display: block;
	background-color: none;
	color: black;
	font-size: 25px;
}
/* Menyrad hover */

nav li a:hover:not(.active) {
	color: white;
}
/* Menyrad aktuell sida */

.active {
	background-color: none;
	text-decoration: underline;
	text-underline-position: under;
	text-shadow: none;
}
.button {
	position: fixed;
	left: 85%;
	top: 10px;
	background-color: #D70F64;
	border: none;
	width: 180px;
	height: 50px;
	color: white;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	box-shadow: 1px 2px 1px #5a133d;
	border-radius: 3px;
}
.button:hover {
	background-color: #b70c55;
}
/*parralax*/

.parallax {
	background-image: url("img/kontakt.jpg");
	width: 100%;
	/* Set a specific height */
	min-height: 550px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
footer {
	margin-top: 10px;
	height: 160px;
	background-color: #4E5766;
	color: white;
	list-style-type: none;
	font-size: 20px;
	padding-top: 10px;
}
footer ul li {
	list-style-type: none;
}
footer ul li a {
	color: white;
}
.footer1 {
	width: 30%;
	float: left;
	padding: 15px;
	text-align: center;
	font-size: 35px;
	padding-top: 20px;
}
.footer2 {
	width: 20%;
	float: left;
	padding: 15px;
	text-align: left;
	padding-top: 20px;
}
.footer3 {
	width: 25%;
	float: left;
	padding: 15px;
	text-align: center;
	padding-top: 30px;
}
.footer4 {
	width: 20%;
	float: left;
	text-align: center;
	padding-top: 35px;
}
.fa {
	padding: 10px;
	font-size: 30px;
	width: 20px;
	text-align: center;
	text-decoration: none;
}
.fa:hover {
	color: #1F1F1F;
	opacity: 25;
}
.fa-facebook {
	color: white;
}
.fa-instagram {
	color: white;
	margin-left: 12px;
}
@media only screen and (max-width:600px) {
	body {
		background-color: white;
		background-image: none;
	}
	.button {
		position: fixed;
		left: 0%;
		top: 0px;
		width: 100%;
		background-color: #D70F64;
		height: 50px;
		color: white;
		padding: 15px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		box-shadow: 1px 2px 1px #5a133d;
	}
	.parallax {
		background-image: none;
	}
	/* Da Mary-loga */
	.headerName {
		left: 5%;
		top: 120px;
		padding: 0px;
		background-color: none;
		color: #FF827C;
		font-size: 17px;
		font-family: 'Aguafina Script';
		text-shadow: 1px 1px black;
	}
	/* Menyrad generell */
	.navMeny {
		left: 0%;
		margin-top: 25px;
		background-color: none;
	}
	/* Menyrad style */
	nav ul {
		list-style-type: none;
		overflow: hidden;
		background-color: ;
	}
	/* Menyrad float=riktning */
	nav li {
		float: left;
	}
	/* Menyrad specific */
	nav li a {
		text-decoration: none;
		display: block;
		margin-left: 20px;
		margin-right: 20px;
		color: black;
		font-size: 25px;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	/* Menyrad hover */
	nav li a:hover:not(.active) {
		background-color: green;
	}
	/* Menyrad aktuell sida */
	.active {
		background-color: none;
		text-decoration: underline;
		text-underline-position: under;
		text-shadow: none;
	}
}