* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Da Mary-loga */

.headerName {
	margin-top: 0px;
	padding: 0px;
	background-color: none;
	color: #008c45;
	font-size: 37px;
	font-family: 'Aguafina Script';
	text-shadow: 3px 4px black;
}
/* Menyrad generell */

.navMeny {
	text-align: left;
	display: flex;
}
/* Menyrad style */

nav ul {
	list-style-type: none;
	overflow: hidden;
	background-color: none;
}
/* Menyrad float=riktning */

nav li {
	float: left;
}
/* Menyrad specific */

nav li a {
	text-decoration: none;
	width: 120px;
	display: block;
	padding: 10px 100px 12px 12px;
	background-color: none;
	color: white;
	font-size: 25px;
}
/* Menyrad hover */

nav li a:hover:not(.active) {
	color: #008c45;
}
/* Menyrad aktuell sida */

.active {
	background-color: none;
	text-decoration: underline;
	text-underline-position: under;
	text-shadow: none;
}
/* bakgrundsbild*/

.img1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	padding: 0px;
	position: relative;
	background-size: 100%;
}
/* föremål inne i bild*/

.container {
	position: relative;
	text-align: center;
	color: white;
}
/* meny inne i bild*/

.top-meny {
	position: absolute;
	top: 60px;
	left: 50%;
	transform: translate(-50%);
	font-family: 'Special Elite', cursive;
}
/* logga inne i bild*/

.top-logo {
	position: absolute;
	top: 40px;
	left: 12%;
	transform: translate(-50%);
}
/* mittentext innne i bild*/

.centered {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 100px;
	font-family: 'Special Elite', cursive;
	color: #008c45;
	text-shadow: 3px 3px black;
}
/*foodora*/

.rightC {
	position: absolute;
	top: 0%;
	left: 85%;
}
.button {
	position: fixed;
	background-color: #D70F64;
	border: none;
	width: 180px;
	height: 50px;
	color: white;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px 0px;
	cursor: pointer;
	box-shadow: 1px 2px 1px #5a133d;
	border-radius: 3px;
}
.button:hover {
	background-color: #b70c55;
}
/*foodora*/

footer {
	margin-top: 10px;
	height: 160px;
	background-color: #4E5766;
	color: white;
	list-style-type: none;
	font-size: 20px;
	padding-top: 10px;
}
footer ul li {
	list-style-type: none;
}
footer ul li a {
	color: white;
}
.footer1 {
	width: 30%;
	float: left;
	padding: 15px;
	text-align: center;
	font-size: 35px;
	padding-top: 20px;
}
.footer2 {
	width: 20%;
	float: left;
	padding: 15px;
	text-align: left;
	padding-top: 20px;
}
.footer3 {
	width: 25%;
	float: left;
	padding: 15px;
	text-align: center;
	padding-top: 30px;
}
.footer4 {
	width: 20%;
	float: left;
	text-align: center;
	padding-top: 35px;
}
.fa {
	padding: 10px;
	font-size: 30px;
	width: 20px;
	text-align: center;
	text-decoration: none;
}
.fa:hover {
	color: #1F1F1F;
	opacity: 25;
}
.fa-facebook {
	color: white;
}
.fa-instagram {
	color: white;
	margin-left: 12px;
}
/*^ICON inne i footer*/

@media only screen and (max-width:600px) {
	body {
		background-color: white;
		background-image: none;
	}
	.button {
		position: fixed;
		left: 0%;
		top: 0px;
		width: 100%;
		background-color: #D70F64;
		height: 50px;
		color: white;
		padding: 15px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		box-shadow: 1px 2px 1px #5a133d;
	}
	.img1 {
		display: none;
	}
	/* Da Mary-loga */
	.headerName {
		position: fixed;
		left: 5%;
		top: 120px;
		padding: 0px;
		background-color: none;
		color: #FF827C;
		font-size: 17px;
		font-family: 'Aguafina Script';
		text-shadow: 1px 1px black;
	}
	/* Menyrad generell */
	.navMeny {
		left: 0%;
		margin-top: 25px;
		background-color: none;
	}
	/* Menyrad style */
	nav ul {
		list-style-type: none;
		overflow: hidden;
		background-color: ;
	}
	/* Menyrad float=riktning */
	nav li {
		float: left;
	}
	/* Menyrad specific */
	nav li a {
		text-decoration: none;
		display: block;
		margin-left: 20px;
		margin-right: 20px;
		color: black;
		font-size: 25px;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	/* Menyrad hover */
	nav li a:hover:not(.active) {
		background-color: green;
	}
	/* Menyrad aktuell sida */
	.active {
		background-color: none;
		text-decoration: underline;
		text-underline-position: under;
		text-shadow: none;
	}
	.centered {
		display: none;
	}
	footer {
		margin-top: 300px;
		font-size: 12px;
	}
}