@import url('https://fonts.googleapis.com/css?family=Orbitron');



#clock {
  font-family: 'Orbitron', sans-serif;
  color: #66ff99;
  font-size: 22px;
  margin-right:30px;
  
 
}

/*tar bort klockan efter viss storlek */


 @media (max-width: 910px) {
        #clock{
			display:none;
		}
		
				
		
		
}